 <% if logged_in? %>
<% provide(:title, "Editing Actor") %>


<h1 align="center">Editing Actor</h1>

<div>
<div class="col-md-6 col-md-offset-3">

<%= form_for [@language,@actor] do |f| %>
<%= render 'shared/error_messi'%>
    <%= f.label :name %>
	<%= f.text_field :name , class: 'form-control' %>


	<%= f.label :place %>
    <%= f.text_field :place , class: 'form-control' %>
     
 <div class="field">
    <%= f.label :image %>
    <%= f.file_field :image %>
  </div>


    <br>

    <div align="center">

	<%= f.submit "Update actor", class: "action" %>

	</div>
<% end %>
</div>
</div>

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>




<%= link_to 'Back', language_actors_path(@language) %>

<% else %>
</br>
 <div align="center"> <p class="mi"> <i class="yy">You are not logged in </i></p> </div>
</br>
 <li class="mi">If you are a new user <%=link_to "Signup",signup_path %></li>
 </br>
 </br>
  <li class="mi">If you are an existing user <%=link_to "Login",login_path %></li>

<% end %>
