
<% provide(:title, "Languages") %>



<h1 align="center">Listing Languages</h1>
<br>
<div align='right'>
<%= form_tag search_languages_path,method: :post do |f| %>

<%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Search", :name => nil %>
    </div>
<br>
<% end %>

<table style="width:40%">
  <thead>
    <tr>
      <th>Language</th>
      
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @language.each do |language| %>
      <tr>
        <td><%= language.name %></td>
      
        <td><%= link_to 'Show', language %></td>
        <td><%= link_to 'Edit', edit_language_path(language) %></td>
        <td><%= link_to 'Destroy', language, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        
      </tr>
    <% end %>
  </tbody>
</table>


<br>
  

<%= link_to 'New Language', new_language_path,{:style=>'color:#006400;', :class => "css_class"} %>
