 <% if logged_in? %>
<% provide(:title, "Language") %>

<h1 align="center">Language</h1>


<p class="mi">
  <strong>Name:</strong>
  <i class="yy"><%= @language.name %></i>
</p>


   
   <div align="center"> 
    <%= link_to "Show Actors!", language_actors_path(@language), class: "btn btn-lg btn-primary"%>  
    </div>
  
<br>

<%= link_to "Edit Language", edit_language_path(@language.id), class: "btn btn-lg btn-success btn-sm " %>

<%= link_to "Back", languages_path, class: "btn btn-lg btn-default btn-sm btn-margin-left" %> 

<% else %>
</br>
 <div align="center"> <p class="mi"> <i class="yy">You are not logged in </i></p> </div>
</br>
 <li class="mi">If you are a new user <%=link_to "Signup",signup_path %></li>
 </br>
 </br>
  <li class="mi">If you are an existing user <%=link_to "Login",login_path %></li>

<% end %>

